@import "../utils/colours.css";

.blog-post-container {
  padding: 100px 20px 20px;
  width: 50%;
  margin: auto;
}

.blog-post-title {
  color: var(--tiffany);
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.blog-post-meta-data {
  color: var(--grey);
  font-size: 14px;
}
