@import "../utils/colours.css";

.blog-post-container {
  padding: 100px 20px 20px;
  width: 40%;
  margin: auto;
}

.blog-post-title {
  color: var(--tiffany);
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.blog-post-meta-data {
  color: var(--grey);
  font-size: 14px;
}

.blog-post-content p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  letter-spacing: 0.75px;
  line-height: 2rem;
  color: var(--darkGrey);
}

.blog-post-content h3 {
  font-weight: 600;
  margin-top: 75px;
  color: var(--primaryBlue);
}

.blog-post-content p:first-child {
  margin-top: 50px;
}

@media only screen and (max-width: 850px) {
  .blog-post-container {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .blog-post-container {
    width: 100%;
  }

  .blog-post-title {
    font-size: 28px;
  }

  .blog-post-content p {
    font-size: 18px;
  }
}
