:root {
  --white: #fefefe;
  --black: #0a0a0a;
  --grey: #b5b5b5;
  --darkGrey: #474747;
  --primaryBlue: #588bae;
  --babyBlue: #89cff0;
  --tiffany: #81d8d0;

  --white-active: #dedede;
  --white-hover: #f2f2f2;

  --primary-active: #246087;
  --primary-hover: #4e7a96;
}
