
@import "../../utils/colours.css";

.blog-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  margin: 15px 50px;
  transition: box-shadow 0.2s;
  background-color: var(--white);
  max-height: 800px;
}

.blog-panel-image-container {
  flex: 1;
  overflow-y: hidden;
}

.blog-info {
  padding-top: 5px;
  flex: 2;
}

.blog-panel:first-child, .blog-panel:nth-child(5n) {
  margin-left: 0;
}

.blog-panel:nth-child(4n) {
  margin-right: 0;
}

.blog-title {
  color: var(--tiffany);
  font-weight: 100;
  margin-bottom: 1rem;
}

.blog-title:hover {
  text-decoration: underline;
}

.blog-summary {
  color: var(--grey);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.blog-footer {
  display: flex;
}

.meta-data p{
  margin-bottom: 0;
}

.small {
  font-size: 14px;
  color: var(--black);
}

@media only screen and (max-width: 850px) {
  .blog-panel {
    width: 100%;
    margin: auto;
    border-bottom: 2px solid var(--grey);
    max-height: 400px;
  }

  .blog-title {
    font-size: 22px;
  }

  .blog-summary {
    font-size: 18px;
  }

  .meta-data {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .blog-title {
    text-align: center;
  }

  .blog-summary {
    display: none;
  }
}
