@import "../../utils/colours.css";

.nav-container {
  position: fixed;
  background: var(--white);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  transition: background 0.4s;
  z-index: 2;
}

.nav-scrolling {
  background: var(--primaryBlue);
  color: var(--white);
}

.nav-scrolling .nav-title-link {
  color: var(--white);
}

.nav-scrolling .link {
  color: var(--darkGrey);
}

.nav-scrolling .link:hover {
  color: var(--white);
}

.nav-scrolling .login-link:hover {
  color: var(--darkGrey);
}

.nav-title {
  margin-right: 40px;
  margin-bottom: 0;
}

.nav-title-link {
  text-decoration: none;
  color: var(--primaryBlue);
  transition: color 0.2s;
}

.nav-title-link:hover {
  color: var(--babyBlue);
}

.nav-right {
  position: absolute;
  right: 5px; /* same as padding in .nav-container */
}

.link {
  text-decoration: none;
  padding: 2px 5px;
  margin: 0 10px;
  color: var(--grey);
  transition: color 0.2s;
  transition:
    border-bottom 0.2s;
}

.link:hover {
  color: var(--darkGrey);
}

.login-link {
  cursor: pointer;
  transition: color 0.2s;
  margin-right: 10px;
}

.login-link:hover {
  color: var(--primaryBlue);
}

.close-modal-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.close-modal {
  cursor: pointer;
  transition: font-weight 0.2s;
}

.close-modal:hover {
  font-weight: 600;
}

.modal {
  position: relative;
  top: 40%;
  width: 60%;
  margin: auto;
  background-color: var(--tiffany);
  outline: none;
  padding: 10px 20px;
  outline: var(--grey);
  box-shadow: 3px 5px 3px var(--grey);
}

.active-link {
  color: var(--black);
  border-bottom: 3.5px solid var(--tiffany);
}

.dropdown-list {
  position: absolute;
  background: var(--white);
  color: var(--darkGrey);
  padding: 20px;
  right: 0;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0.5px 1px 3px var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 200px;
  align-items: flex-end;
}

.logout-container {
  border-top: 1.5px solid var(--grey);
  padding-top: 10px;
  width: 100%;
  text-align: right;
}

.logout {
  cursor: pointer;
}

.dropdown-link {
  color: var(--grey);
  transition:
    color 0.2s;
}

.dropdown-link:hover {
  color: var(--black);
}

@media only screen and (max-width: 850px) {
  .modal {
    width:80%;
  }
}

@media only screen and (max-width: 450px) {
  .modal {
    width: 95%;
    padding: 10px;
  }

  .nav-title-link {
    font-size: 22px;
  }
}
